body {
    background-color: #ffffff;
    padding: 15px 0;

}

.menu {
    margin: 55px 0 0 10px;

}

.menu li {
    padding: 0 10px 0 10px;
    border-right: 1px solid black;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    line-height: 15px;
    font-size: 15px;
    color: #000000;
    text-shadow: 0px 0px 1px rgba(0,0,0,.31);
}

.picture-zone {
    padding: 15px;
    width: 100%;
    border: 1px solid #50697a;
    background-color: #6a8ba1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .22);
    border-radius: 2px;
    margin-top: 20px;
    float: left;
}

ul.tabs.list-inline {
    margin-bottom: 0;
    margin-left: 0;
}

.tabs .tab {
    background-color: #ffffff;
    font-family: "Varela Round", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    width: 60%;
    font-size: 16pt;
    color: #353b40;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, .2);
    border-radius: 2px 2px 0 0;
}

.booking-form {
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    padding: 15px 10px 10px 0px;
    background-color: #ffffff;
    border-radius: 0 2px 2px 2px;
    float: left;

}

.booking-form .date-input {
    float: left;
    padding-right: 5px;

}

label {
    font-weight: 400;
    font-size: 12px;
    color: #278ccd;
    font-family: arial, sans-serif;
}

.booking-form .date-input .input-group {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .2);
}

.booking-form .date-input input {
    border: 1px solid #cccccc;
    border-radius: 0;
    border-right-width: 0;
    background-color: transparent;
    box-shadow: none;
}

.booking-form .form-control {
    border-radius: 0;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .2);
}

.booking-form .form-control:focus {
    border-color: #cccccc;
}

.booking-form .input-group-addon {
    background-color: transparent;
    border-radius: 0;
    border-left-width: 0;
}

.booking-form input:focus, .booking-form .form-control:focus {
    background: transparent;
    outline: none;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .2);
}

.booking-form .btn-booking {
    border-radius: 2px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,175,1) 0%, rgb(252,206,31) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,175,1) 0%, rgb(252,206,31) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,175,1) 0%, rgb(252,206,31) 100%);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.26);
    width: 100%;
    font-size: 16px;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(255,255,255, .77);
    font-family: "Varela Round", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    line-height: 16px;
}

.booking-form .btn-booking:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.26);
}

.booking-form .btn-booking:focus{
    outline: none;

}

.booking-form .line {
    width: 100%;
    border-top: 1px solid #e1e1e1;
    margin: 10px 0
}

.booking-form .promo-text {
    color: #333333;
    font-size: 17pt;
    margin-left: 30px;
    font-family: "Varela Round", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.booking-form .arrow {
    position: absolute;
    margin-left: -25px;
    margin-top: 15px;
}

.booking-form .gray-block {
    margin-left: -10px;
    margin-right: -20px;
    padding: 10px;
    background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(239, 239, 237) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(239, 239, 237) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(239, 239, 237) 100%);
}

.booking-form label.call, .booking-form label.contact {
    font-size: 14pt;
    color: #557082;
}

.booking-form .label-nigth {
    margin-top: 16px;
}

.booking-form .phone-number {
    font-size: 22px;
    color: #32424c;
}

.booking-form .hora {
    font-size: 10pt;
    font-family: arial, sans-serif;
    color: #666666;
    margin-left: 10px;
    margin-top: 4px;
}

.carousel-inner > .item > img {
    width: 100%;
}

.carousel {
    border: 1px solid #cadae4;
    border-radius: 2px;
    margin-bottom: 15px;
}

.carousel a {
    position: absolute;
    top: 50%;
    margin-top: -17px;
}

.carousel a.left {
    left: 0px;
}

.carousel a.right {
    right: 0px;
}

.welcome-zero .title {
    font-size: 24px;
    font-family: "Arial";
    color: #fefefe;
}

.welcome-zero .text {
    font-size: 14px;
    font-family: "Arial";
    color: #fefefe;
}

.offert .title {
    font-size: 21px;
    font-family: "Arial";
    color: #fefefe;
}

.offert .text a {
    font-size: 12px;
    font-family: "Arial";
    color: #fefefe;
    font-weight: 700;
}

.offert .text a:hover {
    font-size: 12px;
    font-family: "Arial";
    color: #fdc215;
    text-decoration: none;
}

.see-moor a {
    font-family: arial, sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-decoration: underline;
    color: #d4eeff;
}

.margin-bottom{
    margin-bottom: 10px;
}

.vertical-line {
    height: 150px;
    width: 1px;
    background-color: #536d7e;
    box-shadow: 1px 0px 0px 0px #8daec3;
}